<div class="secondaryBody animated fadeInUp">
	<h1>Ingredients</h1>

	<div class="row" id="ingredients">
  		<div class="small-12 large-4 columns">
  			<img src="../img/walnut-icon-01.png" alt="walnuts icon" class="icons">
  			<h3>Walnuts</h3>
  			<p class="ingrPara">What got B.Baklava started is the Baklava w/ Walnuts. They are delicious, sweet treats made with thin layers of crispy dough. A delicous crunch in every bite!</p>
  		</div>
  		<div class="small-12 large-4 columns">
			<img src="../img/cinnamon-icon-01.png" alt="walnuts icon" class="icons">
			<h3>Cinnamon</h3>
			<p class="ingrPara">Mmm.. Cinnamon. We love cinnamon. We add a dash of Cinnamon to give it a better sweet and savory taste that your taste buds will absolutely enjoy.</p>
  		</div>
  		<div class="small-12 large-4 columns">
			<img src="../img/spacial-icon-01.png" alt="walnuts icon" class="icons">
			<h3>Signature Syrup</h3>
			<p class="ingrPara">To finish this masterpiece, we sweeten it up with our home made syrup, creating a phenomenal taste of sweet and savory flavors that you will love.</p>
  		</div>

  		<div class="large-12 columns" >
  			<p id="xtraInfo">No preservatives, No additives, No artificial flavors.
Each hand crafted with a few ingredients for fresh gourmet flavor.</p>
  		</div>
	</div>

</div>